{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "ignore": [
    "node_modules/**"
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "@babel/plugin-transform-runtime"
  ]
}